@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*CSS dump from old main.css*/
.hero-image {
  background-image: url('/images/Polynorth_KeyVisForsida.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hidden {
  display: none;
}

.tabs li.is-active a {
  border-bottom-color: #be1e2d;
  color: #be1e2d !important;
}

.prod-icon img {
  width: 7em;
  height: auto;
  display: block;
}
.table thead th {
  color: white !important;
}
thead tr {
  background-color: #be1e2d;
}

.prod-small-title h5.subtitle {
  margin: 0;
}

.product-title h4.is-active {
  text-decoration: underline;
  color: #be1e2d;
}

#production {
  padding-left: 0;
  padding-right: 0;
}

#foamballs {
  background-image: url('/images/PolynorthPillow03.jpg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#productionbutton {
  color: White;
  background-color: #be1e2d;
}
#productionbutton:hover {
  color: black;
  background-color: white;
}
#productioncols .columns .column {
  display: flex;
}

/* .servicetitle{
  display:flex;
  height:100%;
  align-content: flex-end;
}

.servicetag{
   align-self: flex-end;
   display: inline-block;
   align-content: flex-end;
} */
.servicetitle h1 {
  color: #be1e2d;
}

#quality {
  padding-left: 0;
  padding-right: 0;
}

#foamlogo {
  background-image: url('/images/Polynorth_LogoPressed04.jpg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#productionbutton {
  color: White;
  background-color: #be1e2d;
}
#productionbutton:hover {
  color: black;
  background-color: white;
}
#qualitycols .columns .column {
  display: flex;
}

#aboutimage {
  padding-left: 9% !important;
  background-image: url(/images/movedo-construction-bullets-03.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.footer {
  background-color: black !important;
  color: white !important;
}

@media (max-width: 768px) {
  .footer img {
    width: 40%;
    /* Mobile-specific styles here */
  }
}

/* Media query for desktop devices */
@media (min-width: 769px) {
  .footer img {
    width: 17%;
    /* Mobile-specific styles here */
  }
}

#contacttitle {
  border-radius: 4px !important;
  background-color: #be1e2d;
}
#contacttitle h1 {
  color: white;
  padding-top: 4% !important;
  padding-right: 2% !important;
  padding-bottom: 3% !important;
  padding-left: 6% !important;
}

#contactinfo {
  padding-top: 3% !important;
  padding-right: 2% !important;
  padding-bottom: 5% !important;
  padding-left: 6% !important;
  border-radius: 4px !important;
  background-color: white;
}

#contactbutton {
  color: White;
  background-color: #be1e2d;
}
#contactbutton:hover {
  color: white;
  background-color: #85151f;
}
section.section {
  @apply sm:py-28 sm:px-12 px-6 py-16;
}
section#contact {
  @apply pt-32;
}
